.carousel img {
    height: 250px;
    width: auto;
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease;
}

.carousel img:hover {
    -webkit-transform: scale(1.08);
    transform: scale(1.08);
}
.carousel {
    display: flex;
    overflow: hidden;
}

.carousel div {
    padding: 16px 8px;
    height: 250px;
}

.carousel-wrapper {
    width: 1100px;
    margin-left: 20% !important;
}

.carousel div:first-child,
.carousel div:last-child {
    color: #fff;
    font-size: xx-large;
}

.carousel .hide-card {
    display: none;
}

.carousel-container .default-content-wrapper {
    display: flex;
    position: relative;
}

.carousel-container .default-content-wrapper  h3 {
    text-align: center;
    position: relative;
    margin-bottom: unset;
    margin-top: 0;
    margin-left: 24%;
    margin-right: 35%;
}

main .carousel-container {
    padding-top: 20px;
}